codes/Node-Red/flows.json
[
    {
        "id": "ba8d8409119d7346",
        "type": "tab",
        "label": "Home_Automation",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "eeb93125b807f08f",
        "type": "comment",
        "z": "ba8d8409119d7346",
        "name": "Receive message from ESP",
        "info": "",
        "x": 160,
        "y": 40,
        "wires": []
    },
    {
        "id": "79663398678b72e0",
        "type": "mqtt in",
        "z": "ba8d8409119d7346",
        "name": "",
        "topic": "Home1_Pub",
        "qos": "2",
        "datatype": "auto",
        "broker": "01a09fae96669f29",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 100,
        "wires": [
            [
                "0a908e36807ad9f4"
            ]
        ]
    },
    {
        "id": "9d0cf0364fb874f9",
        "type": "ui_gauge",
        "z": "ba8d8409119d7346",
        "name": "",
        "group": "413f1bd2d40ed325",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature (°C)",
        "label": "°Celcius",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 710,
        "y": 100,
        "wires": []
    },
    {
        "id": "9584854bfa560ef1",
        "type": "function",
        "z": "ba8d8409119d7346",
        "name": "Temperature",
        "func": "var temp = msg.payload['temperature'];\nmsg.payload = temp;\nmsg.topic = \"Temperature\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 100,
        "wires": [
            [
                "9d0cf0364fb874f9",
                "2a3d2ad315872f07"
            ]
        ]
    },
    {
        "id": "0a908e36807ad9f4",
        "type": "json",
        "z": "ba8d8409119d7346",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 290,
        "y": 100,
        "wires": [
            [
                "9584854bfa560ef1",
                "3a7b264670019883"
            ]
        ]
    },
    {
        "id": "3d9dc3650723c48d",
        "type": "ui_gauge",
        "z": "ba8d8409119d7346",
        "name": "",
        "group": "413f1bd2d40ed325",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity (%)",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 690,
        "y": 260,
        "wires": []
    },
    {
        "id": "3a7b264670019883",
        "type": "function",
        "z": "ba8d8409119d7346",
        "name": "Humidity",
        "func": "var temp = msg.payload['humidity'];\nmsg.payload = temp;\nmsg.topic = \"Humidity\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 260,
        "wires": [
            [
                "3d9dc3650723c48d",
                "2465ca8a3a374811"
            ]
        ]
    },
    {
        "id": "2a3d2ad315872f07",
        "type": "ui_chart",
        "z": "ba8d8409119d7346",
        "name": "",
        "group": "6bd65222d70c2990",
        "order": 9,
        "width": "10",
        "height": "5",
        "label": "Temperature (°C)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "30",
        "ymax": "35",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 710,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "2465ca8a3a374811",
        "type": "ui_chart",
        "z": "ba8d8409119d7346",
        "name": "",
        "group": "6bd65222d70c2990",
        "order": 9,
        "width": "10",
        "height": "5",
        "label": "Humidity (%)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "70",
        "ymax": "80",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 690,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "240ebdb72e013517",
        "type": "change",
        "z": "ba8d8409119d7346",
        "name": "Reset chart",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 180,
        "wires": [
            [
                "2a3d2ad315872f07",
                "2465ca8a3a374811"
            ]
        ]
    },
    {
        "id": "94206cc54e849fbb",
        "type": "inject",
        "z": "ba8d8409119d7346",
        "name": "Init empty",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 280,
        "y": 180,
        "wires": [
            [
                "240ebdb72e013517",
                "c8dbf32dd86fe267"
            ]
        ]
    },
    {
        "id": "f3ab2d1d354e9357",
        "type": "inject",
        "z": "ba8d8409119d7346",
        "name": "Init empty",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 460,
        "y": 220,
        "wires": [
            [
                "9d0cf0364fb874f9",
                "3d9dc3650723c48d"
            ]
        ]
    },
    {
        "id": "9bc9b526bce024b5",
        "type": "comment",
        "z": "ba8d8409119d7346",
        "name": "Control",
        "info": "",
        "x": 250,
        "y": 500,
        "wires": []
    },
    {
        "id": "3c08c3591af26212",
        "type": "ui_switch",
        "z": "ba8d8409119d7346",
        "name": "",
        "label": "Lamp 1",
        "tooltip": "",
        "group": "579f9be95d58b3fc",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 260,
        "y": 580,
        "wires": [
            [
                "97c005c56cb15257"
            ]
        ]
    },
    {
        "id": "b1ec2c5803141d85",
        "type": "mqtt out",
        "z": "ba8d8409119d7346",
        "name": "",
        "topic": "Home1_Sub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "01a09fae96669f29",
        "x": 790,
        "y": 1060,
        "wires": []
    },
    {
        "id": "97c005c56cb15257",
        "type": "switch",
        "z": "ba8d8409119d7346",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 580,
        "wires": [
            [
                "3c40a4e508c6e59b",
                "6a585d40b11827c6"
            ],
            [
                "faced37580768ff4",
                "f846f012cabecc4a"
            ]
        ]
    },
    {
        "id": "3c40a4e508c6e59b",
        "type": "change",
        "z": "ba8d8409119d7346",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"device\":\"lamp1\",\"trigger\":\"on\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 520,
        "wires": [
            [
                "b1ec2c5803141d85"
            ]
        ]
    },
    {
        "id": "faced37580768ff4",
        "type": "change",
        "z": "ba8d8409119d7346",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"device\":\"lamp1\",\"trigger\":\"off\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 600,
        "wires": [
            [
                "b1ec2c5803141d85"
            ]
        ]
    },
    {
        "id": "ff91caac41c21e94",
        "type": "switch",
        "z": "ba8d8409119d7346",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 760,
        "wires": [
            [
                "8439bd72fb551eed",
                "a12751bfe63664d5"
            ],
            [
                "7732b79af375235f",
                "133372f9a1462ce8"
            ]
        ]
    },
    {
        "id": "8439bd72fb551eed",
        "type": "change",
        "z": "ba8d8409119d7346",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"device\":\"lamp2\",\"trigger\":\"on\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 720,
        "wires": [
            [
                "b1ec2c5803141d85"
            ]
        ]
    },
    {
        "id": "7732b79af375235f",
        "type": "change",
        "z": "ba8d8409119d7346",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"device\":\"lamp2\",\"trigger\":\"off\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 800,
        "wires": [
            [
                "b1ec2c5803141d85"
            ]
        ]
    },
    {
        "id": "5ef53ca62782016f",
        "type": "ui_switch",
        "z": "ba8d8409119d7346",
        "name": "",
        "label": "Lamp 2",
        "tooltip": "",
        "group": "579f9be95d58b3fc",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 260,
        "y": 760,
        "wires": [
            [
                "ff91caac41c21e94"
            ]
        ]
    },
    {
        "id": "007ae4403b9919de",
        "type": "switch",
        "z": "ba8d8409119d7346",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 940,
        "wires": [
            [
                "fff44bab9af0f55d",
                "601dbfcf39335123"
            ],
            [
                "b35a1d2f10c40ed1",
                "978c985078cfbadc"
            ]
        ]
    },
    {
        "id": "fff44bab9af0f55d",
        "type": "change",
        "z": "ba8d8409119d7346",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"device\":\"lamp3\",\"trigger\":\"on\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 900,
        "wires": [
            [
                "b1ec2c5803141d85"
            ]
        ]
    },
    {
        "id": "b35a1d2f10c40ed1",
        "type": "change",
        "z": "ba8d8409119d7346",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"device\":\"lamp3\",\"trigger\":\"off\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 980,
        "wires": [
            [
                "b1ec2c5803141d85"
            ]
        ]
    },
    {
        "id": "028f62a3d6d26581",
        "type": "ui_switch",
        "z": "ba8d8409119d7346",
        "name": "",
        "label": "Lamp 3",
        "tooltip": "",
        "group": "579f9be95d58b3fc",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 260,
        "y": 940,
        "wires": [
            [
                "007ae4403b9919de"
            ]
        ]
    },
    {
        "id": "2b0b4ccca887656a",
        "type": "switch",
        "z": "ba8d8409119d7346",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 1160,
        "wires": [
            [
                "81913a4f19f8183d",
                "e45e704949b1c904"
            ],
            [
                "7b4fb7ae1339b661",
                "ab463c81f626ad7e"
            ]
        ]
    },
    {
        "id": "81913a4f19f8183d",
        "type": "change",
        "z": "ba8d8409119d7346",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"device\":\"fan\",\"trigger\":\"on\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 1120,
        "wires": [
            [
                "b1ec2c5803141d85"
            ]
        ]
    },
    {
        "id": "7b4fb7ae1339b661",
        "type": "change",
        "z": "ba8d8409119d7346",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"device\":\"fan\",\"trigger\":\"off\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 1180,
        "wires": [
            [
                "b1ec2c5803141d85"
            ]
        ]
    },
    {
        "id": "f999a5439ff787d4",
        "type": "ui_switch",
        "z": "ba8d8409119d7346",
        "name": "",
        "label": "Fan",
        "tooltip": "",
        "group": "579f9be95d58b3fc",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 250,
        "y": 1160,
        "wires": [
            [
                "2b0b4ccca887656a"
            ]
        ]
    },
    {
        "id": "42ca20fb727fe0c0",
        "type": "mqtt in",
        "z": "ba8d8409119d7346",
        "name": "",
        "topic": "Home1_Stat",
        "qos": "2",
        "datatype": "auto",
        "broker": "01a09fae96669f29",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 400,
        "wires": [
            [
                "b9d2fcea43330977"
            ]
        ]
    },
    {
        "id": "b9d2fcea43330977",
        "type": "json",
        "z": "ba8d8409119d7346",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 110,
        "y": 460,
        "wires": [
            [
                "c6f94b5c98532327",
                "70e5fe24cc63c4b0",
                "77128a5236d6ec1c",
                "31cd56f0fba2c666"
            ]
        ]
    },
    {
        "id": "c6f94b5c98532327",
        "type": "function",
        "z": "ba8d8409119d7346",
        "name": "Lamp1",
        "func": "var stat = msg.payload['lamp1'];\nmsg.payload = stat;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 540,
        "wires": [
            [
                "3c08c3591af26212"
            ]
        ]
    },
    {
        "id": "70e5fe24cc63c4b0",
        "type": "function",
        "z": "ba8d8409119d7346",
        "name": "Lamp2",
        "func": "var stat = msg.payload['lamp2'];\nmsg.payload = stat;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 720,
        "wires": [
            [
                "5ef53ca62782016f"
            ]
        ]
    },
    {
        "id": "77128a5236d6ec1c",
        "type": "function",
        "z": "ba8d8409119d7346",
        "name": "Lamp3",
        "func": "var stat = msg.payload['lamp3'];\nmsg.payload = stat;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 900,
        "wires": [
            [
                "028f62a3d6d26581"
            ]
        ]
    },
    {
        "id": "31cd56f0fba2c666",
        "type": "function",
        "z": "ba8d8409119d7346",
        "name": "Fan",
        "func": "var stat = msg.payload['fan'];\nmsg.payload = stat;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 1120,
        "wires": [
            [
                "f999a5439ff787d4"
            ]
        ]
    },
    {
        "id": "e45e704949b1c904",
        "type": "function",
        "z": "ba8d8409119d7346",
        "name": "Trigger Fan animate ON",
        "func": "\nmsg.payload =\n    {\n        \"command\": \"trigger_animation\",\n        \"selector\": \"#rotate_fan\",\n        \"action\": \"start\"\n    }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1240,
        "wires": [
            [
                "7b690b93630c446b"
            ]
        ]
    },
    {
        "id": "ab463c81f626ad7e",
        "type": "function",
        "z": "ba8d8409119d7346",
        "name": "Trigger Fan animate OFF",
        "func": "\nmsg.payload =\n    {\n        \"command\": \"trigger_animation\",\n        \"selector\": \"#rotate_fan\",\n        \"action\": \"stop\"\n    }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1280,
        "wires": [
            [
                "7b690b93630c446b"
            ]
        ]
    },
    {
        "id": "7b690b93630c446b",
        "type": "ui_svg_graphics",
        "z": "ba8d8409119d7346",
        "group": "5ada0225d14c17a6",
        "order": 0,
        "width": 0,
        "height": 0,
        "svgString": "<svg xmlns:inkscape=\"http://www.inkscape.org/namespaces/inkscape\" xmlns:sodipodi=\"http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"100%\" height=\"100%\" viewBox=\"0 0 148 105\" version=\"1.1\" id=\"svg5\" sodipodi:docname=\"Home_Automation.svg\" inkscape:version=\"1.1.1 (3bf5ae0d25, 2021-09-20)\" preserveAspectRatio=\"xMinYMin meet\">\n  <rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"148\" height=\"105\" style=\"fill:none;stroke:none\" />\n  <sodipodi:namedview id=\"namedview7\" pagecolor=\"#ffffff\" bordercolor=\"#666666\" borderopacity=\"1.0\" inkscape:pageshadow=\"2\" inkscape:pageopacity=\"0.0\" inkscape:pagecheckerboard=\"0\" inkscape:document-units=\"mm\" showgrid=\"false\" inkscape:zoom=\"1.4110391\" inkscape:cx=\"380.92495\" inkscape:cy=\"207.29404\" inkscape:window-width=\"1366\" inkscape:window-height=\"745\" inkscape:window-x=\"-8\" inkscape:window-y=\"-8\" inkscape:window-maximized=\"1\" inkscape:current-layer=\"layer1\" />\n  <defs id=\"defs2\" />\n  <g inkscape:label=\"Layer 1\" inkscape:groupmode=\"layer\" id=\"layer1\">\n    <path style=\"fill:#cccccc;stroke-width:0.0349644\" d=\"M 46.433791,61.298074 H 81.363237 V 96.22752 H 46.433791 Z\" id=\"path218\" />\n    <path style=\"fill:#c7c7c7;stroke-width:0.0349644\" d=\"M 46.433791,86.087841 81.363237,71.472717 V 96.22752 H 46.433791 Z\" id=\"path220\" />\n    <path style=\"fill:#c2c2c2;stroke-width:0.0349644\" d=\"M 46.433791,87.556346 81.363237,72.941223 V 96.22752 H 46.433791 Z\" id=\"path222\" />\n    <path style=\"fill:#bdbdbd;stroke-width:0.0349644\" d=\"M 46.433791,89.724139 81.363237,75.109016 V 96.22752 H 46.433791 Z\" id=\"path224\" />\n    <path style=\"fill:none;stroke:#4c4c4c;stroke-width:0.0699288\" d=\"M 46.433791,61.298074 H 81.363237 V 96.22752 H 46.433791 V 61.298074\" id=\"path226\" />\n    <path style=\"display:inline;fill:#7f7f7f;stroke:#4c4c4c;stroke-width:0.0699288\" d=\"m 70.034768,93.640153 -4.055872,1.118861 H 61.783167 L 57.727295,93.640153 54.090997,91.542289 51.084058,88.605278 48.951229,84.899051 47.867332,80.843179 V 76.64745 l 1.118861,-4.1258 2.097865,-3.636299 2.93701,-2.93701 3.706227,-2.132829 4.055872,-1.083897 h 4.195729 l 4.125801,1.083897 3.636298,2.132829 2.937011,2.93701 2.132829,3.636299 1.083896,4.1258 v 4.195729 l -1.083896,4.055872 -2.132829,3.706227 -2.937011,2.937011 z\" id=\"path228\" />\n    <path style=\"display:inline;fill:#191919;stroke-width:0.0349644\" d=\"m 69.755052,93.010794 -3.846085,1.013968 h -4.055871 l -3.846085,-1.013968 -3.496441,-2.027936 -2.867082,-2.867082 -2.027936,-3.496441 -1.013968,-3.846085 0.03496,-4.055871 0.979003,-3.916014 2.027936,-3.426512 2.867082,-2.867082 3.496441,-2.027936 3.846085,-1.013968 h 4.055871 l 3.846085,1.013968 3.496441,2.027936 2.867082,2.867082 2.027936,3.496441 1.013968,3.846085 v 4.055871 l -1.013968,3.846085 -2.027936,3.496441 -2.867082,2.867082 z\" id=\"path230\" />\n    <g id=\"fan\">\n      <path style=\"fill:#b2b2b2;stroke-width:0.0349644\" d=\"M 66.32854,93.290509 V 81.192823 h -4.895017 v 12.097686 z\" id=\"path232\" />\n      <path style=\"fill:#cccccc;stroke-width:0.0349644\" d=\"m 66.32854,93.290509 -0.209786,-0.349644 -0.209787,-0.349644 -0.209786,-0.384609 -0.174822,-0.349644 -0.174822,-0.349644 -0.139858,-0.384608 -0.139857,-0.384609 -0.139858,-0.384608 -0.104893,-0.384609 -0.06993,-0.384608 -0.104893,-0.384609 -0.03496,-0.384608 -0.06993,-0.384609 -0.03496,-0.419573 v -0.384608 l -0.03496,-0.384609 0.03496,-0.419573 v -0.384608 l 0.03496,-0.384609 0.06993,-0.384608 0.03496,-0.419573 0.104893,-0.384609 0.06993,-0.384608 0.104893,-0.384609 0.139858,-0.384608 0.139857,-0.349644 0.139858,-0.384609 0.174822,-0.384608 0.174822,-0.349644 0.209786,-0.349645 0.209787,-0.349644 0.209786,-0.349644 h -0.314679 -0.279716 -0.314679 -0.31468 -0.31468 -0.279715 -0.31468 -0.314679 -0.31468 -0.31468 -0.279715 -0.31468 -0.314679 -0.31468 -0.279715 -0.31468 l -0.209787,0.349644 -0.209786,0.349644 -0.209786,0.349645 -0.139858,0.349644 -0.174822,0.384608 -0.139858,0.384609 -0.139857,0.349644 -0.104894,0.384608 -0.104893,0.384609 -0.104893,0.384608 -0.06993,0.384609 -0.06993,0.419573 -0.03496,0.384608 -0.03496,0.384609 -0.03496,0.384608 v 0.419573 0.384609 l 0.03496,0.384608 0.03496,0.419573 0.03496,0.384609 0.06993,0.384608 0.06993,0.384609 0.104893,0.384608 0.104893,0.384609 0.104894,0.384608 0.139857,0.384609 0.139858,0.384608 0.174822,0.349644 0.139858,0.349644 0.209786,0.384609 0.209786,0.349644 0.209787,0.349644 h 0.31468 0.279715 0.31468 0.314679 0.31468 0.279715 0.31468 0.31468 0.314679 0.31468 0.279715 0.31468 0.31468 0.314679 0.279716 z\" id=\"path234\" />\n      <path style=\"fill:none;stroke:#4c4c4c;stroke-width:0.0699288\" d=\"M 66.32854,93.290509 V 81.192823 h -4.895017 l -0.209787,0.349644 -0.209786,0.349644 -0.209786,0.349645 -0.139858,0.349644 -0.174822,0.384608 -0.139858,0.384609 -0.139857,0.349644 -0.104894,0.384608 -0.104893,0.384609 -0.104893,0.384608 -0.06993,0.384609 -0.06993,0.419573 -0.03496,0.384608 -0.03496,0.384609 -0.03496,0.384608 v 0.419573 0.384609 l 0.03496,0.384608 0.03496,0.419573 0.03496,0.384609 0.06993,0.384608 0.06993,0.384609 0.104893,0.384608 0.104893,0.384609 0.104894,0.384608 0.139857,0.384609 0.139858,0.384608 0.174822,0.349644 0.139858,0.349644 0.209786,0.384609 0.209786,0.349644 0.209787,0.349644 h 4.895017\" id=\"path236\" />\n      <path style=\"fill:#b2b2b2;stroke-width:0.0349644\" d=\"m 77.726938,83.920047 -10.559252,-6.083807 -2.37758,4.195729 10.489323,6.083807 z\" id=\"path238\" />\n      <path style=\"fill:#cccccc;stroke-width:0.0349644\" d=\"m 77.726938,83.920047 h -0.419573 -0.419573 -0.419573 l -0.384608,-0.03496 -0.419573,-0.03496 -0.384609,-0.06993 -0.419573,-0.06993 -0.384608,-0.06993 -0.384609,-0.104893 -0.384608,-0.139858 -0.384609,-0.104893 -0.349644,-0.139858 -0.384608,-0.174822 -0.349644,-0.174822 -0.349645,-0.174822 -0.349644,-0.174822 -0.349644,-0.209786 -0.349644,-0.209787 -0.31468,-0.244751 -0.314679,-0.244751 -0.31468,-0.24475 -0.31468,-0.279716 -0.279715,-0.279715 -0.279715,-0.244751 -0.279715,-0.31468 -0.244751,-0.314679 -0.244751,-0.31468 -0.244751,-0.31468 -0.244751,-0.349644 -0.209786,-0.314679 -0.209787,-0.384609 -0.174822,-0.349644 -0.139858,0.244751 -0.174822,0.279715 -0.139857,0.279715 -0.139858,0.244751 -0.139857,0.279716 -0.174823,0.24475 -0.139857,0.244751 -0.139858,0.279716 -0.139857,0.24475 -0.174823,0.279716 -0.139857,0.279715 -0.139858,0.244751 -0.139857,0.244751 -0.174822,0.279715 -0.139858,0.244751 -0.139858,0.279715 0.174822,0.349644 0.209787,0.384609 0.209786,0.349644 0.209787,0.31468 0.244751,0.314679 0.24475,0.349644 0.279716,0.279716 0.244751,0.314679 0.279715,0.279716 0.279715,0.279715 0.31468,0.279715 0.31468,0.244751 0.314679,0.244751 0.31468,0.209786 0.349644,0.244751 0.349644,0.174822 0.31468,0.209787 0.384608,0.174822 0.349644,0.174822 0.384609,0.139857 0.349644,0.139858 0.384609,0.139858 0.384608,0.104893 0.384609,0.104893 0.384608,0.06993 0.419573,0.06993 0.384608,0.06993 0.384609,0.03496 0.419573,0.03496 h 0.384608 0.419573 0.419573 l 0.139858,-0.279715 0.139858,-0.244751 0.174822,-0.279715 0.139857,-0.244751 0.139858,-0.279715 0.174822,-0.244751 0.139858,-0.279715 0.174822,-0.244751 0.139857,-0.279715 0.139858,-0.244751 0.174822,-0.279716 0.139858,-0.24475 0.139857,-0.279716 0.174822,-0.244751 0.139858,-0.279715 z\" id=\"path240\" />\n      <path style=\"fill:none;stroke:#4c4c4c;stroke-width:0.0699288\" d=\"m 77.726938,83.920047 -10.559252,-6.083807 -2.37758,4.195729 0.174822,0.349644 0.209787,0.384609 0.209786,0.349644 0.209787,0.31468 0.244751,0.314679 0.24475,0.349644 0.279716,0.279716 0.244751,0.314679 0.279715,0.279716 0.279715,0.279715 0.31468,0.279715 0.31468,0.244751 0.314679,0.244751 0.31468,0.209786 0.349644,0.244751 0.349644,0.174822 0.31468,0.209787 0.384608,0.174822 0.349644,0.174822 0.384609,0.139857 0.349644,0.139858 0.384609,0.139858 0.384608,0.104893 0.384609,0.104893 0.384608,0.06993 0.419573,0.06993 0.384608,0.06993 0.384609,0.03496 0.419573,0.03496 h 0.384608 0.419573 0.419573 l 2.447509,-4.195729\" id=\"path242\" />\n      <path style=\"fill:#b2b2b2;stroke-width:0.0349644\" d=\"m 75.279429,69.374853 -10.489323,6.083807 2.37758,4.195729 10.559252,-6.083807 z\" id=\"path244\" />\n      <path style=\"fill:#cccccc;stroke-width:0.0349644\" d=\"m 75.279429,69.374853 -0.209786,0.384608 -0.209787,0.349644 -0.209786,0.349644 -0.209787,0.31468 -0.24475,0.349644 -0.244751,0.31468 -0.279716,0.279715 -0.24475,0.31468 -0.31468,0.279715 -0.279715,0.279715 -0.279716,0.279716 -0.314679,0.244751 -0.31468,0.24475 -0.31468,0.209787 -0.349644,0.209786 -0.31468,0.209787 -0.349644,0.209786 -0.384608,0.174822 -0.349644,0.174822 -0.349644,0.139858 -0.384609,0.139858 -0.384608,0.139857 -0.384609,0.104894 -0.384608,0.104893 -0.384609,0.104893 -0.384608,0.06993 -0.384609,0.06993 -0.419573,0.03496 h -0.419573 l -0.384608,0.03496 h -0.384609 l -0.419573,-0.03496 0.139858,0.279715 0.139858,0.244751 0.174822,0.279715 0.139857,0.244751 0.139858,0.244751 0.139857,0.279716 0.174823,0.279715 0.139857,0.244751 0.139858,0.279715 0.139857,0.244751 0.174823,0.244751 0.139857,0.279715 0.139858,0.244751 0.139857,0.279715 0.174822,0.279715 0.139858,0.244751 h 0.384609 0.419573 0.419572 0.384609 l 0.419573,-0.06993 0.419573,-0.06993 0.384608,-0.06993 0.384609,-0.06993 0.384608,-0.104893 0.419573,-0.104893 0.349644,-0.139858 0.384609,-0.139858 0.349644,-0.174822 0.384609,-0.139857 0.349644,-0.209787 0.349644,-0.174822 0.349644,-0.209786 0.314679,-0.209787 0.31468,-0.244751 0.349644,-0.244751 0.31468,-0.24475 0.279715,-0.279716 0.279716,-0.244751 0.314679,-0.279715 0.244751,-0.31468 0.279715,-0.314679 0.244751,-0.31468 0.244751,-0.31468 0.209787,-0.349644 0.209786,-0.314679 0.209786,-0.349645 0.209787,-0.384608 -0.174822,-0.244751 -0.139858,-0.279715 -0.174822,-0.244751 -0.139857,-0.279715 -0.139858,-0.244751 -0.174822,-0.279716 -0.139858,-0.24475 -0.139857,-0.279716 -0.174822,-0.244751 -0.139858,-0.279715 -0.174822,-0.244751 -0.139858,-0.279715 -0.139857,-0.244751 -0.174822,-0.279715 -0.139858,-0.244751 z\" id=\"path246\" />\n      <path style=\"fill:none;stroke:#4c4c4c;stroke-width:0.0699288\" d=\"m 75.279429,69.374853 -10.489323,6.083807 2.37758,4.195729 h 0.384609 0.419573 0.419572 0.384609 l 0.419573,-0.06993 0.419573,-0.06993 0.384608,-0.06993 0.384609,-0.06993 0.384608,-0.104893 0.419573,-0.104893 0.349644,-0.139858 0.384609,-0.139858 0.349644,-0.174822 0.384609,-0.139857 0.349644,-0.209787 0.349644,-0.174822 0.349644,-0.209786 0.314679,-0.209787 0.31468,-0.244751 0.349644,-0.244751 0.31468,-0.24475 0.279715,-0.279716 0.279716,-0.244751 0.314679,-0.279715 0.244751,-0.31468 0.279715,-0.314679 0.244751,-0.31468 0.244751,-0.31468 0.209787,-0.349644 0.209786,-0.314679 0.209786,-0.349645 0.209787,-0.384608 -2.447509,-4.195729\" id=\"path248\" />\n      <path style=\"fill:#b2b2b2;stroke-width:0.0349644\" d=\"M 61.433523,64.20012 V 76.297806 H 66.32854 V 64.20012 Z\" id=\"path250\" />\n      <path style=\"fill:#cccccc;stroke-width:0.0349644\" d=\"m 61.433523,64.20012 0.209786,0.349644 0.209787,0.349644 0.209786,0.384609 0.174822,0.349644 0.139858,0.349644 0.174822,0.384608 0.139858,0.384609 0.104893,0.384608 0.104893,0.384609 0.104893,0.384608 0.06993,0.384609 0.06993,0.384609 0.06993,0.384608 v 0.419573 l 0.03496,0.384608 v 0.384609 0.419573 l -0.03496,0.384608 v 0.384609 l -0.06993,0.384608 -0.06993,0.419573 -0.06993,0.384609 -0.104893,0.384608 -0.104893,0.384609 -0.104893,0.384608 -0.139858,0.349644 -0.174822,0.384609 -0.139858,0.384608 -0.174822,0.349645 -0.209786,0.349644 -0.209787,0.349644 -0.209786,0.349644 h 0.31468 0.279715 0.31468 0.314679 0.31468 0.279715 0.31468 0.31468 0.314679 0.31468 0.279715 0.31468 0.31468 0.314679 0.279716 0.314679 l 0.209787,-0.349644 0.209786,-0.349644 0.209787,-0.349644 0.139857,-0.349645 0.174822,-0.384608 0.139858,-0.384609 0.139858,-0.349644 0.104893,-0.384608 0.104893,-0.384609 0.104893,-0.384608 0.06993,-0.384609 0.06993,-0.419573 0.03496,-0.384608 0.03496,-0.384609 0.03496,-0.384608 v -0.419573 -0.384609 l -0.03496,-0.384608 -0.03496,-0.419573 -0.03496,-0.384608 -0.06993,-0.384609 -0.06993,-0.384609 L 67.762081,67.521739 67.657188,67.13713 67.552295,66.752522 67.412437,66.367913 67.272579,65.983305 67.097757,65.633661 66.9579,65.284017 66.748113,64.899408 66.538327,64.549764 66.32854,64.20012 h -0.314679 -0.279716 -0.314679 -0.31468 -0.31468 -0.279715 -0.31468 -0.314679 -0.31468 -0.31468 -0.279715 -0.31468 -0.314679 -0.31468 -0.279715 z\" id=\"path252\" />\n      <path style=\"fill:none;stroke:#4c4c4c;stroke-width:0.0699288\" d=\"m 61.433523,64.20012 v 12.097686 h 4.895017 l 0.209787,-0.349644 0.209786,-0.349644 0.209787,-0.349644 0.139857,-0.349645 0.174822,-0.384608 0.139858,-0.384609 0.139858,-0.349644 0.104893,-0.384608 0.104893,-0.384609 0.104893,-0.384608 0.06993,-0.384609 0.06993,-0.419573 0.03496,-0.384608 0.03496,-0.384609 0.03496,-0.384608 v -0.419573 -0.384609 l -0.03496,-0.384608 -0.03496,-0.419573 -0.03496,-0.384608 -0.06993,-0.384609 -0.06993,-0.384609 L 67.762081,67.521739 67.657188,67.13713 67.552295,66.752522 67.412437,66.367913 67.272579,65.983305 67.097757,65.633661 66.9579,65.284017 66.748113,64.899408 66.538327,64.549764 66.32854,64.20012 h -4.895017\" id=\"path254\" />\n      <path style=\"fill:#b2b2b2;stroke-width:0.0349644\" d=\"m 50.035125,73.570582 10.559252,6.083807 2.37758,-4.195729 -10.489323,-6.083807 z\" id=\"path256\" />\n      <path style=\"fill:#cccccc;stroke-width:0.0349644\" d=\"m 50.035125,73.570582 h 0.419573 0.419573 0.419573 l 0.384608,0.03496 0.419573,0.03496 0.384609,0.06993 0.419573,0.06993 0.384608,0.06993 0.384609,0.104893 0.384608,0.139858 0.384609,0.104893 0.349644,0.139858 0.384608,0.174822 0.349645,0.174822 0.349644,0.174822 0.349644,0.174822 0.349644,0.209787 0.349644,0.209786 0.31468,0.244751 0.314679,0.244751 0.31468,0.244751 0.31468,0.279715 0.279715,0.279715 0.279715,0.244751 0.279716,0.31468 0.24475,0.314679 0.244751,0.31468 0.244751,0.31468 0.244751,0.349644 0.209787,0.31468 0.209786,0.384608 0.174822,0.349644 0.139858,-0.244751 0.174822,-0.279715 0.139857,-0.279715 0.139858,-0.244751 0.139858,-0.279715 0.174822,-0.244751 0.139857,-0.244751 0.139858,-0.279715 0.139858,-0.244751 0.174822,-0.279715 0.139857,-0.279716 0.139858,-0.244751 0.139858,-0.244751 0.174822,-0.279715 0.139857,-0.244751 0.139858,-0.279715 -0.174822,-0.349644 -0.209787,-0.384609 -0.209786,-0.349644 -0.209787,-0.314679 -0.24475,-0.31468 -0.244751,-0.349644 -0.279716,-0.279715 -0.24475,-0.31468 -0.279716,-0.279715 -0.279715,-0.279716 -0.31468,-0.279715 -0.314679,-0.244751 -0.31468,-0.244751 -0.31468,-0.209786 -0.349644,-0.244751 -0.349644,-0.174822 -0.31468,-0.209787 -0.384608,-0.174822 -0.349644,-0.174822 -0.384609,-0.139857 -0.349644,-0.139858 -0.384608,-0.139858 -0.384609,-0.104893 -0.384608,-0.104893 -0.384609,-0.06993 -0.419573,-0.06993 -0.384608,-0.06993 -0.384609,-0.03496 -0.419573,-0.03496 H 53.32178 52.902207 52.482634 l -0.139858,0.279715 -0.139857,0.244751 -0.174822,0.279715 -0.139858,0.244751 -0.139858,0.279715 -0.174822,0.244751 -0.139857,0.279715 -0.174822,0.244751 -0.139858,0.279716 -0.139858,0.24475 -0.174822,0.279716 -0.139857,0.244751 -0.139858,0.279715 -0.174822,0.244751 -0.139858,0.279715 z\" id=\"path258\" />\n      <path style=\"fill:none;stroke:#4c4c4c;stroke-width:0.0699288\" d=\"m 50.035125,73.570582 10.559252,6.083807 2.37758,-4.195729 -0.174822,-0.349644 -0.209787,-0.384609 -0.209786,-0.349644 -0.209787,-0.314679 -0.24475,-0.31468 -0.244751,-0.349644 -0.279716,-0.279715 -0.24475,-0.31468 -0.279716,-0.279715 -0.279715,-0.279716 -0.31468,-0.279715 -0.314679,-0.244751 -0.31468,-0.244751 -0.31468,-0.209786 -0.349644,-0.244751 -0.349644,-0.174822 -0.31468,-0.209787 -0.384608,-0.174822 -0.349644,-0.174822 -0.384609,-0.139857 -0.349644,-0.139858 -0.384608,-0.139858 -0.384609,-0.104893 -0.384608,-0.104893 -0.384609,-0.06993 -0.419573,-0.06993 -0.384608,-0.06993 -0.384609,-0.03496 -0.419573,-0.03496 H 53.32178 52.902207 52.482634 l -2.447509,4.195729\" id=\"path260\" />\n      <path style=\"fill:#b2b2b2;stroke-width:0.0349644\" d=\"M 52.482634,88.115776 62.971957,82.031969 60.594377,77.83624 50.035125,83.920047 Z\" id=\"path262\" />\n      <path style=\"fill:#cccccc;stroke-width:0.0349644\" d=\"m 52.482634,88.115776 0.209786,-0.384608 0.209787,-0.349644 0.209786,-0.349644 0.209787,-0.31468 0.244751,-0.349644 0.244751,-0.31468 0.279715,-0.279715 0.244751,-0.31468 0.314679,-0.279715 0.279716,-0.279715 0.279715,-0.279716 0.31468,-0.24475 0.314679,-0.244751 0.31468,-0.209787 0.349644,-0.209786 0.349644,-0.209787 0.31468,-0.209786 0.384608,-0.174822 0.349644,-0.174822 0.349645,-0.139858 0.384608,-0.139857 0.384609,-0.139858 0.384608,-0.104893 0.384609,-0.104894 0.384608,-0.104893 0.384609,-0.06993 0.384608,-0.06993 0.419573,-0.03496 h 0.419573 l 0.384608,-0.03496 h 0.384609 l 0.419573,0.03496 L 62.832099,81.752256 62.692242,81.507505 62.51742,81.22779 62.377562,80.983039 62.237704,80.738288 62.097847,80.458573 61.923025,80.178857 61.783167,79.934107 61.643309,79.654391 61.503452,79.40964 61.32863,79.16489 61.188772,78.885174 61.048914,78.640423 60.909057,78.360708 60.734235,78.080993 60.594377,77.836242 h -0.384608 -0.419573 -0.419573 -0.384609 l -0.419573,0.06993 -0.419573,0.06993 -0.384608,0.06993 -0.384609,0.06993 -0.384608,0.104893 -0.419573,0.104894 -0.349644,0.139857 -0.384609,0.139858 -0.349644,0.174822 -0.384608,0.139858 -0.349644,0.209786 -0.349645,0.174822 -0.349644,0.209787 -0.314679,0.209786 -0.31468,0.244751 -0.349644,0.244751 -0.31468,0.244751 -0.279715,0.279715 -0.279715,0.244751 -0.31468,0.279715 -0.244751,0.31468 -0.279715,0.314679 -0.244751,0.31468 -0.244751,0.31468 -0.209786,0.349644 -0.209787,0.31468 -0.209786,0.349644 -0.209787,0.384608 0.174822,0.244751 0.139858,0.279715 0.174822,0.244751 0.139858,0.279716 0.139857,0.24475 0.174822,0.279716 0.139858,0.244751 0.139858,0.279715 0.174822,0.244751 0.139857,0.279715 0.174822,0.244751 0.139858,0.279715 0.139858,0.244751 0.174822,0.279715 0.139857,0.244751 z\" id=\"path264\" />\n      <path style=\"fill:none;stroke:#4c4c4c;stroke-width:0.0699288\" d=\"m 52.482634,88.115776 10.489323,-6.083807 -2.37758,-4.195729 h -0.384608 -0.419573 -0.419573 -0.384609 l -0.419573,0.06993 -0.419573,0.06993 -0.384608,0.06993 -0.384609,0.06993 -0.384608,0.104893 -0.419573,0.104894 -0.349644,0.139857 -0.384609,0.139858 -0.349644,0.174822 -0.384608,0.139858 -0.349644,0.209786 -0.349645,0.174822 -0.349644,0.209787 -0.314679,0.209786 -0.31468,0.244751 -0.349644,0.244751 -0.31468,0.244751 -0.279715,0.279715 -0.279715,0.244751 -0.31468,0.279715 -0.244751,0.31468 -0.279715,0.314679 -0.244751,0.31468 -0.244751,0.31468 -0.209786,0.349644 -0.209787,0.31468 -0.209786,0.349644 -0.209787,0.384608 2.447509,4.195729\" id=\"path266\" />\n      <circle style=\"fill:#666666;stroke:#4c4c4c;stroke-width:0.0699288\" cx=\"63.881031\" cy=\"78.745316\" r=\"4.2656579\" id=\"circle268\" />\n      <circle style=\"fill:#e5e5e5;stroke-width:0.0349644\" cx=\"63.881031\" cy=\"78.745316\" r=\"3.6362987\" id=\"circle270\" />\n      <circle style=\"fill:#7f7f7f;stroke-width:0.0349644\" cx=\"63.881031\" cy=\"78.745316\" r=\"1.18879\" id=\"circle272\" />\n    </g>\n    <path style=\"fill:#000000;stroke-width:0.0349644\" d=\"m 48.601584,95.318445 h 2.167794 v 0.664324 h -2.167794 z\" id=\"path274\" />\n    <path style=\"fill:#000000;stroke-width:0.0349644\" d=\"m 51.50363,95.318445 h 2.167794 v 0.664324 H 51.50363 Z\" id=\"path276\" />\n    <path style=\"fill:#000000;stroke-width:0.0349644\" d=\"m 56.608434,95.318445 h 2.167794 v 0.664324 h -2.167794 z\" id=\"path278\" />\n    <path style=\"fill:#000000;stroke-width:0.0349644\" d=\"m 79.160479,95.982769 h -2.167794 v -0.664324 h 2.167794 z\" id=\"path280\" />\n    <path style=\"fill:#000000;stroke-width:0.0349644\" d=\"m 76.258433,95.982769 h -2.167794 v -0.664324 h 2.167794 z\" id=\"path282\" />\n    <path style=\"fill:#000000;stroke-width:0.0349644\" d=\"m 71.153629,95.982769 h -2.167794 v -0.664324 h 2.167794 z\" id=\"path284\" />\n    <g id=\"g1041\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,13.161235)\">\n      <g id=\"g956\">\n        <path style=\"fill:#cfdce5\" d=\"m 273.088,365.939 h -95.841 c -13.534,0 -24.507,-10.972 -24.507,-24.507 v -1.649 c 0,-13.534 10.972,-24.507 24.507,-24.507 H 334.5 c 13.534,0 24.507,10.972 24.507,24.507 v 1.649 c 0,13.534 -10.972,24.507 -24.507,24.507 h -33.405\" id=\"path952\" />\n        <path style=\"fill:#cfdce5\" d=\"m 334.501,365.939 c 13.534,0 24.507,10.972 24.507,24.507 v 1.649 c 0,13.534 -10.972,24.507 -24.507,24.507 H 241.58 212.405 177.249 c -13.534,0 -24.507,-10.972 -24.507,-24.507 v -1.649 c 0,-13.534 10.972,-24.507 24.507,-24.507\" id=\"path954\" />\n      </g>\n      <g id=\"g962\">\n        <path style=\"fill:#bac6cc\" d=\"m 187.752,392.094 v -1.649 c 0,-13.534 10.972,-24.507 24.507,-24.507 H 177.25 c -13.534,0 -24.507,10.972 -24.507,24.507 v 1.649 c 0,13.534 10.972,24.507 24.507,24.507 h 35.009 C 198.724,416.6 187.752,405.628 187.752,392.094 Z\" id=\"path958\" />\n        <path style=\"fill:#bac6cc\" d=\"m 187.752,341.432 v -1.649 c 0,-13.534 10.972,-24.507 24.507,-24.507 H 177.25 c -13.534,0 -24.507,10.972 -24.507,24.507 v 1.649 c 0,13.534 10.972,24.507 24.507,24.507 h 35.009 c -13.535,0 -24.507,-10.973 -24.507,-24.507 z\" id=\"path960\" />\n      </g>\n      <path style=\"fill:#b3b3b3\" d=\"m 348.71,315.277 c 6.444,-30.839 17.942,-60.567 33.794,-88.143 12.296,-21.388 19.328,-46.187 19.328,-72.628 0,-82.498 -68.445,-149.012 -151.647,-145.85 -76.8,2.919 -138.626,65.883 -140.235,142.72 -0.583,27.807 6.615,53.889 19.564,76.223 15.869,27.372 27.24,56.972 33.597,87.677\" id=\"Lamp1_1\" />\n      <path style=\"fill:#666666\" d=\"M 171.523,227.599 C 158.575,205.266 151.377,179.183 151.959,151.376 153.459,79.707 207.354,20.115 276.92,10.054 268.232,8.799 259.297,8.31 250.185,8.656 c -76.8,2.919 -138.626,65.883 -140.235,142.72 -0.583,27.807 6.615,53.889 19.564,76.223 15.869,27.372 27.24,56.972 33.597,87.677 h 42.009 c -6.356,-30.705 -17.728,-60.306 -33.597,-87.677 z\" id=\"Lamp1_2\" />\n      <path style=\"fill:#415e72\" d=\"m 285.689,247.452 h -59.627 c -9.714,0 -17.588,7.875 -17.588,17.588 v 50.236 h 94.805 V 265.04 c -0.002,-9.713 -7.877,-17.588 -17.59,-17.588 z\" id=\"path968\" />\n      <path style=\"fill:#cfdce5\" d=\"m 321.625,416.6 c 13.534,0 24.507,10.972 24.507,24.507 v 1.649 c 0,13.534 -10.972,24.507 -24.507,24.507 h -131.5 c -13.534,0 -24.507,-10.972 -24.507,-24.507 v -1.649 c 0,-13.534 10.972,-24.507 24.507,-24.507 z\" id=\"path970\" />\n      <path style=\"fill:#bac6cc\" d=\"m 200.628,442.756 v -1.649 c 0,-13.534 10.972,-24.507 24.507,-24.507 h -35.009 c -13.534,0 -24.507,10.972 -24.507,24.507 v 1.649 c 0,13.534 10.972,24.507 24.507,24.507 h 35.009 C 211.6,467.262 200.628,456.29 200.628,442.756 Z\" id=\"path972\" />\n      <path style=\"fill:#415e72\" d=\"m 199.026,467.262 c 10,21.375 31.688,36.187 56.85,36.187 25.162,0 46.85,-14.812 56.85,-36.187\" id=\"path974\" />\n      <path d=\"m 410.508,154.505 c 0,-35.513 -12.347,-70.195 -34.769,-97.654 -2.988,-3.657 -8.374,-4.202 -12.032,-1.215 -3.657,2.987 -4.202,8.373 -1.215,12.032 19.935,24.415 30.914,55.255 30.914,86.838 0,24.024 -6.29,47.665 -18.19,68.366 -15.458,26.887 -26.702,55.389 -33.467,84.804 -2.552,-0.616 -5.21,-0.951 -7.949,-0.951 H 217.148 v -41.271 c 0,-5.213 4.24,-9.453 9.453,-9.453 h 3.344 v 34.957 c 0,4.722 3.828,8.551 8.551,8.551 4.723,0 8.551,-3.828 8.551,-8.551 v -34.957 h 17.909 v 34.957 c 0,4.722 3.828,8.551 8.551,8.551 4.722,0 8.551,-3.828 8.551,-8.551 v -34.957 h 3.344 c 5.213,0 9.453,4.24 9.453,9.453 V 286.1 c 0,4.722 3.828,8.551 8.551,8.551 4.722,0 8.551,-3.828 8.551,-8.551 v -20.646 c 0,-14.642 -11.912,-26.554 -26.554,-26.554 h -3.344 v -34.293 l 32.65,-55.168 c 2.404,-4.063 1.06,-9.309 -3.004,-11.713 -4.063,-2.406 -9.309,-1.06 -11.713,3.003 l -33.843,57.182 c -0.78,1.319 -1.191,2.823 -1.191,4.355 V 238.9 h -17.909 v -36.634 c 0,-1.532 -0.412,-3.036 -1.191,-4.355 l -33.843,-57.182 c -2.404,-4.063 -7.649,-5.409 -11.713,-3.003 -4.064,2.404 -5.409,7.649 -3.004,11.713 l 32.65,55.168 V 238.9 h -3.344 c -14.642,0 -26.554,11.912 -26.554,26.554 v 41.271 h -21.848 c -2.71,0 -5.343,0.329 -7.87,0.933 -6.724,-29.471 -17.911,-57.818 -33.292,-84.348 -12.574,-21.687 -18.941,-46.499 -18.412,-71.755 0.732,-34.98 14.751,-68.102 39.473,-93.267 24.725,-25.169 57.589,-39.761 92.539,-41.089 32.38,-1.223 64.22,8.992 89.661,28.784 3.728,2.9 9.1,2.23 11.998,-1.498 2.899,-3.727 2.229,-9.099 -1.498,-11.998 C 322.182,10.227 286.384,-1.27 249.986,0.112 c -39.328,1.495 -76.295,17.9 -104.089,46.194 -27.789,28.287 -43.546,65.539 -44.371,104.894 -0.594,28.389 6.569,56.291 20.716,80.69 15.347,26.469 26.259,54.845 32.453,84.351 -6.391,6.166 -10.378,14.809 -10.378,24.369 0,9.945 4.308,18.903 11.156,25.106 -6.836,6.061 -11.156,14.899 -11.156,24.731 v 0.824 c 0,13.404 7.825,25.013 19.145,30.505 -3.938,5.441 -6.268,12.118 -6.268,19.334 v 0.824 c 0,18.683 15.2,33.882 33.882,33.882 h 2.884 c 12.567,22.148 36.345,36.187 62.042,36.187 13.819,0 27.225,-3.962 38.767,-11.457 3.961,-2.571 5.086,-7.867 2.515,-11.829 -2.571,-3.962 -7.869,-5.087 -11.827,-2.515 -8.764,5.69 -18.948,8.698 -29.453,8.698 -16.033,0 -31.081,-7.195 -41.246,-19.085 h 106.17 c 18.682,0 33.882,-15.2 33.882,-33.882 v -0.824 c 0,-7.215 -2.33,-13.892 -6.268,-19.334 11.32,-5.491 19.145,-17.1 19.145,-30.505 v -0.824 c 0,-9.832 -4.32,-18.67 -11.156,-24.731 6.848,-6.203 11.156,-15.161 11.156,-25.106 0,-9.531 -3.962,-18.149 -10.318,-24.312 6.238,-29.461 17.226,-58.023 32.678,-84.901 13.385,-23.292 20.461,-49.879 20.461,-76.891 z M 334.626,374.49 c 8.798,0 15.956,7.158 15.956,15.956 v 0.824 c 0,9.253 -7.528,16.78 -16.78,16.78 h -92.096 c -4.722,0 -8.551,3.828 -8.551,8.551 0,4.722 3.828,8.551 8.551,8.551 h 80.044 c 8.798,0 15.956,7.158 15.956,15.956 v 0.824 c 0,9.253 -7.528,16.78 -16.78,16.78 H 191.075 c -9.252,0 -16.78,-7.528 -16.78,-16.78 v -0.824 c 0,-8.798 7.158,-15.956 15.956,-15.956 h 22.28 c 4.722,0 8.551,-3.828 8.551,-8.551 0,-4.722 -3.828,-8.551 -8.551,-8.551 h -34.332 c -9.253,0 -16.78,-7.528 -16.78,-16.78 v -0.824 c 0,-8.798 7.158,-15.956 15.956,-15.956 0.093,0 0.184,-0.011 0.276,-0.014 0.184,0.002 0.365,0.014 0.548,0.014 h 95.015 c 4.722,0 8.551,-3.828 8.551,-8.551 0,-4.722 -3.828,-8.551 -8.551,-8.551 h -95.015 c -9.253,0 -16.78,-7.528 -16.78,-16.78 0,-9.252 7.528,-16.78 16.78,-16.78 h 155.604 c 9.253,0 16.78,7.528 16.78,16.78 0,9.253 -7.528,16.78 -16.78,16.78 h -32.581 c -4.722,0 -8.551,3.828 -8.551,8.551 0,4.722 3.828,8.551 8.551,8.551 h 32.581 c 0.184,0 0.365,-0.011 0.548,-0.014 0.092,0.002 0.182,0.014 0.275,0.014 z\" id=\"path976\" />\n      <g id=\"g978\" />\n      <g id=\"g980\" />\n      <g id=\"g982\" />\n      <g id=\"g984\" />\n      <g id=\"g986\" />\n      <g id=\"g988\" />\n      <g id=\"g990\" />\n      <g id=\"g992\" />\n      <g id=\"g994\" />\n      <g id=\"g996\" />\n      <g id=\"g998\" />\n      <g id=\"g1000\" />\n      <g id=\"g1002\" />\n      <g id=\"g1004\" />\n      <g id=\"g1006\" />\n    </g>\n    <g id=\"g1041-3\" transform=\"matrix(0.07036648,0,0,0.07036648,47.855062,13.165176)\">\n      <g id=\"g956-6\">\n        <path style=\"fill:#cfdce5\" d=\"m 273.088,365.939 h -95.841 c -13.534,0 -24.507,-10.972 -24.507,-24.507 v -1.649 c 0,-13.534 10.972,-24.507 24.507,-24.507 H 334.5 c 13.534,0 24.507,10.972 24.507,24.507 v 1.649 c 0,13.534 -10.972,24.507 -24.507,24.507 h -33.405\" id=\"path952-6\" />\n        <path style=\"fill:#cfdce5\" d=\"m 334.501,365.939 c 13.534,0 24.507,10.972 24.507,24.507 v 1.649 c 0,13.534 -10.972,24.507 -24.507,24.507 H 241.58 212.405 177.249 c -13.534,0 -24.507,-10.972 -24.507,-24.507 v -1.649 c 0,-13.534 10.972,-24.507 24.507,-24.507\" id=\"path954-7\" />\n      </g>\n      <g id=\"g962-3\">\n        <path style=\"fill:#bac6cc\" d=\"m 187.752,392.094 v -1.649 c 0,-13.534 10.972,-24.507 24.507,-24.507 H 177.25 c -13.534,0 -24.507,10.972 -24.507,24.507 v 1.649 c 0,13.534 10.972,24.507 24.507,24.507 h 35.009 C 198.724,416.6 187.752,405.628 187.752,392.094 Z\" id=\"path958-3\" />\n        <path style=\"fill:#bac6cc\" d=\"m 187.752,341.432 v -1.649 c 0,-13.534 10.972,-24.507 24.507,-24.507 H 177.25 c -13.534,0 -24.507,10.972 -24.507,24.507 v 1.649 c 0,13.534 10.972,24.507 24.507,24.507 h 35.009 c -13.535,0 -24.507,-10.973 -24.507,-24.507 z\" id=\"path960-6\" />\n      </g>\n      <path style=\"fill:#b3b3b3;fill-opacity:1\" d=\"m 348.71,315.277 c 6.444,-30.839 17.942,-60.567 33.794,-88.143 12.296,-21.388 19.328,-46.187 19.328,-72.628 0,-82.498 -68.445,-149.012 -151.647,-145.85 -76.8,2.919 -138.626,65.883 -140.235,142.72 -0.583,27.807 6.615,53.889 19.564,76.223 15.869,27.372 27.24,56.972 33.597,87.677\" id=\"Lamp2_1\" />\n      <path style=\"fill:#666666;fill-opacity:1\" d=\"M 171.523,227.599 C 158.575,205.266 151.377,179.183 151.959,151.376 153.459,79.707 207.354,20.115 276.92,10.054 268.232,8.799 259.297,8.31 250.185,8.656 c -76.8,2.919 -138.626,65.883 -140.235,142.72 -0.583,27.807 6.615,53.889 19.564,76.223 15.869,27.372 27.24,56.972 33.597,87.677 h 42.009 c -6.356,-30.705 -17.728,-60.306 -33.597,-87.677 z\" id=\"Lamp2_2\" />\n      <path style=\"fill:#415e72\" d=\"m 285.689,247.452 h -59.627 c -9.714,0 -17.588,7.875 -17.588,17.588 v 50.236 h 94.805 V 265.04 c -0.002,-9.713 -7.877,-17.588 -17.59,-17.588 z\" id=\"path968-0\" />\n      <path style=\"fill:#cfdce5\" d=\"m 321.625,416.6 c 13.534,0 24.507,10.972 24.507,24.507 v 1.649 c 0,13.534 -10.972,24.507 -24.507,24.507 h -131.5 c -13.534,0 -24.507,-10.972 -24.507,-24.507 v -1.649 c 0,-13.534 10.972,-24.507 24.507,-24.507 z\" id=\"path970-6\" />\n      <path style=\"fill:#bac6cc\" d=\"m 200.628,442.756 v -1.649 c 0,-13.534 10.972,-24.507 24.507,-24.507 h -35.009 c -13.534,0 -24.507,10.972 -24.507,24.507 v 1.649 c 0,13.534 10.972,24.507 24.507,24.507 h 35.009 C 211.6,467.262 200.628,456.29 200.628,442.756 Z\" id=\"path972-3\" />\n      <path style=\"fill:#415e72\" d=\"m 199.026,467.262 c 10,21.375 31.688,36.187 56.85,36.187 25.162,0 46.85,-14.812 56.85,-36.187\" id=\"path974-2\" />\n      <path d=\"m 410.508,154.505 c 0,-35.513 -12.347,-70.195 -34.769,-97.654 -2.988,-3.657 -8.374,-4.202 -12.032,-1.215 -3.657,2.987 -4.202,8.373 -1.215,12.032 19.935,24.415 30.914,55.255 30.914,86.838 0,24.024 -6.29,47.665 -18.19,68.366 -15.458,26.887 -26.702,55.389 -33.467,84.804 -2.552,-0.616 -5.21,-0.951 -7.949,-0.951 H 217.148 v -41.271 c 0,-5.213 4.24,-9.453 9.453,-9.453 h 3.344 v 34.957 c 0,4.722 3.828,8.551 8.551,8.551 4.723,0 8.551,-3.828 8.551,-8.551 v -34.957 h 17.909 v 34.957 c 0,4.722 3.828,8.551 8.551,8.551 4.722,0 8.551,-3.828 8.551,-8.551 v -34.957 h 3.344 c 5.213,0 9.453,4.24 9.453,9.453 V 286.1 c 0,4.722 3.828,8.551 8.551,8.551 4.722,0 8.551,-3.828 8.551,-8.551 v -20.646 c 0,-14.642 -11.912,-26.554 -26.554,-26.554 h -3.344 v -34.293 l 32.65,-55.168 c 2.404,-4.063 1.06,-9.309 -3.004,-11.713 -4.063,-2.406 -9.309,-1.06 -11.713,3.003 l -33.843,57.182 c -0.78,1.319 -1.191,2.823 -1.191,4.355 V 238.9 h -17.909 v -36.634 c 0,-1.532 -0.412,-3.036 -1.191,-4.355 l -33.843,-57.182 c -2.404,-4.063 -7.649,-5.409 -11.713,-3.003 -4.064,2.404 -5.409,7.649 -3.004,11.713 l 32.65,55.168 V 238.9 h -3.344 c -14.642,0 -26.554,11.912 -26.554,26.554 v 41.271 h -21.848 c -2.71,0 -5.343,0.329 -7.87,0.933 -6.724,-29.471 -17.911,-57.818 -33.292,-84.348 -12.574,-21.687 -18.941,-46.499 -18.412,-71.755 0.732,-34.98 14.751,-68.102 39.473,-93.267 24.725,-25.169 57.589,-39.761 92.539,-41.089 32.38,-1.223 64.22,8.992 89.661,28.784 3.728,2.9 9.1,2.23 11.998,-1.498 2.899,-3.727 2.229,-9.099 -1.498,-11.998 C 322.182,10.227 286.384,-1.27 249.986,0.112 c -39.328,1.495 -76.295,17.9 -104.089,46.194 -27.789,28.287 -43.546,65.539 -44.371,104.894 -0.594,28.389 6.569,56.291 20.716,80.69 15.347,26.469 26.259,54.845 32.453,84.351 -6.391,6.166 -10.378,14.809 -10.378,24.369 0,9.945 4.308,18.903 11.156,25.106 -6.836,6.061 -11.156,14.899 -11.156,24.731 v 0.824 c 0,13.404 7.825,25.013 19.145,30.505 -3.938,5.441 -6.268,12.118 -6.268,19.334 v 0.824 c 0,18.683 15.2,33.882 33.882,33.882 h 2.884 c 12.567,22.148 36.345,36.187 62.042,36.187 13.819,0 27.225,-3.962 38.767,-11.457 3.961,-2.571 5.086,-7.867 2.515,-11.829 -2.571,-3.962 -7.869,-5.087 -11.827,-2.515 -8.764,5.69 -18.948,8.698 -29.453,8.698 -16.033,0 -31.081,-7.195 -41.246,-19.085 h 106.17 c 18.682,0 33.882,-15.2 33.882,-33.882 v -0.824 c 0,-7.215 -2.33,-13.892 -6.268,-19.334 11.32,-5.491 19.145,-17.1 19.145,-30.505 v -0.824 c 0,-9.832 -4.32,-18.67 -11.156,-24.731 6.848,-6.203 11.156,-15.161 11.156,-25.106 0,-9.531 -3.962,-18.149 -10.318,-24.312 6.238,-29.461 17.226,-58.023 32.678,-84.901 13.385,-23.292 20.461,-49.879 20.461,-76.891 z M 334.626,374.49 c 8.798,0 15.956,7.158 15.956,15.956 v 0.824 c 0,9.253 -7.528,16.78 -16.78,16.78 h -92.096 c -4.722,0 -8.551,3.828 -8.551,8.551 0,4.722 3.828,8.551 8.551,8.551 h 80.044 c 8.798,0 15.956,7.158 15.956,15.956 v 0.824 c 0,9.253 -7.528,16.78 -16.78,16.78 H 191.075 c -9.252,0 -16.78,-7.528 -16.78,-16.78 v -0.824 c 0,-8.798 7.158,-15.956 15.956,-15.956 h 22.28 c 4.722,0 8.551,-3.828 8.551,-8.551 0,-4.722 -3.828,-8.551 -8.551,-8.551 h -34.332 c -9.253,0 -16.78,-7.528 -16.78,-16.78 v -0.824 c 0,-8.798 7.158,-15.956 15.956,-15.956 0.093,0 0.184,-0.011 0.276,-0.014 0.184,0.002 0.365,0.014 0.548,0.014 h 95.015 c 4.722,0 8.551,-3.828 8.551,-8.551 0,-4.722 -3.828,-8.551 -8.551,-8.551 h -95.015 c -9.253,0 -16.78,-7.528 -16.78,-16.78 0,-9.252 7.528,-16.78 16.78,-16.78 h 155.604 c 9.253,0 16.78,7.528 16.78,16.78 0,9.253 -7.528,16.78 -16.78,16.78 h -32.581 c -4.722,0 -8.551,3.828 -8.551,8.551 0,4.722 3.828,8.551 8.551,8.551 h 32.581 c 0.184,0 0.365,-0.011 0.548,-0.014 0.092,0.002 0.182,0.014 0.275,0.014 z\" id=\"path976-9\" />\n      <g id=\"g978-5\" />\n      <g id=\"g980-5\" />\n      <g id=\"g982-1\" />\n      <g id=\"g984-9\" />\n      <g id=\"g986-1\" />\n      <g id=\"g988-5\" />\n      <g id=\"g990-3\" />\n      <g id=\"g992-4\" />\n      <g id=\"g994-0\" />\n      <g id=\"g996-8\" />\n      <g id=\"g998-2\" />\n      <g id=\"g1000-4\" />\n      <g id=\"g1002-1\" />\n      <g id=\"g1004-2\" />\n      <g id=\"g1006-5\" />\n    </g>\n    <g id=\"g186\">\n      <g id=\"g956-6-9\" transform=\"matrix(0.07036648,0,0,0.07036648,87.453534,13.23702)\">\n        <path style=\"fill:#cfdce5\" d=\"m 273.088,365.939 h -95.841 c -13.534,0 -24.507,-10.972 -24.507,-24.507 v -1.649 c 0,-13.534 10.972,-24.507 24.507,-24.507 H 334.5 c 13.534,0 24.507,10.972 24.507,24.507 v 1.649 c 0,13.534 -10.972,24.507 -24.507,24.507 h -33.405\" id=\"path952-6-5\" />\n        <path style=\"fill:#cfdce5\" d=\"m 334.501,365.939 c 13.534,0 24.507,10.972 24.507,24.507 v 1.649 c 0,13.534 -10.972,24.507 -24.507,24.507 H 241.58 212.405 177.249 c -13.534,0 -24.507,-10.972 -24.507,-24.507 v -1.649 c 0,-13.534 10.972,-24.507 24.507,-24.507\" id=\"path954-7-7\" />\n      </g>\n      <g id=\"g962-3-1\" transform=\"matrix(0.07036648,0,0,0.07036648,87.453534,13.23702)\">\n        <path style=\"fill:#bac6cc\" d=\"m 187.752,392.094 v -1.649 c 0,-13.534 10.972,-24.507 24.507,-24.507 H 177.25 c -13.534,0 -24.507,10.972 -24.507,24.507 v 1.649 c 0,13.534 10.972,24.507 24.507,24.507 h 35.009 C 198.724,416.6 187.752,405.628 187.752,392.094 Z\" id=\"path958-3-4\" />\n        <path style=\"fill:#bac6cc\" d=\"m 187.752,341.432 v -1.649 c 0,-13.534 10.972,-24.507 24.507,-24.507 H 177.25 c -13.534,0 -24.507,10.972 -24.507,24.507 v 1.649 c 0,13.534 10.972,24.507 24.507,24.507 h 35.009 c -13.535,0 -24.507,-10.973 -24.507,-24.507 z\" id=\"path960-6-5\" />\n      </g>\n      <path style=\"fill:#b3b3b3;stroke-width:0.0703665;fill-opacity:1\" d=\"m 111.99114,35.421953 c 0.45344,-2.170032 1.26252,-4.261887 2.37797,-6.202313 0.86522,-1.504998 1.36004,-3.250016 1.36004,-5.110576 0,-5.805094 -4.81623,-10.48545 -10.67087,-10.262951 -5.40417,0.205399 -9.754676,4.635954 -9.867896,10.042704 -0.04102,1.95668 0.465475,3.791979 1.376657,5.363544 1.116653,1.926071 1.916797,4.008919 2.364117,6.169522\" id=\"Lamp3_1\" />\n      <path style=\"fill:#666666;stroke-width:0.0703665;fill-opacity:1\" d=\"m 99.523088,29.252361 c -0.911112,-1.571495 -1.417617,-3.406864 -1.376657,-5.363544 0.10555,-5.043096 3.897969,-9.236375 8.793099,-9.944332 -0.61134,-0.08831 -1.24007,-0.122719 -1.88125,-0.09837 -5.40417,0.205399 -9.754676,4.635954 -9.867896,10.042704 -0.04102,1.95668 0.465475,3.791979 1.376657,5.363544 1.116653,1.926071 1.916797,4.008919 2.364117,6.169522 h 2.956042 c -0.44724,-2.160603 -1.24746,-4.243521 -2.364112,-6.169522 z\" id=\"Lamp3_2\" />\n      <path style=\"fill:#415e72;stroke-width:0.0703665\" d=\"m 107.55658,30.649347 h -4.19575 c -0.68354,0 -1.23762,0.554136 -1.23762,1.237605 v 3.534931 h 6.67111 v -3.534931 c 0,-0.683469 -0.55427,-1.237605 -1.23774,-1.237605 z\" id=\"path968-0-5\" />\n      <path style=\"fill:#cfdce5;stroke-width:0.0703665\" d=\"m 110.08527,42.551696 c 0.95234,0 1.72447,0.772061 1.72447,1.724471 v 0.116035 c 0,0.95234 -0.77206,1.724471 -1.72447,1.724471 h -9.25322 c -0.952345,0 -1.724483,-0.772061 -1.724483,-1.724471 v -0.116035 c 0,-0.95234 0.772068,-1.724471 1.724483,-1.724471 z\" id=\"path970-6-4\" />\n      <path style=\"fill:#bac6cc;stroke-width:0.0703665\" d=\"m 101.57112,44.392202 v -0.116035 c 0,-0.95234 0.77206,-1.724471 1.72448,-1.724471 h -2.46348 c -0.952344,0 -1.724483,0.772061 -1.724483,1.724471 v 0.116035 c 0,0.95234 0.772068,1.724471 1.724483,1.724471 h 2.46348 c -0.95242,-7e-5 -1.72448,-0.772131 -1.72448,-1.724471 z\" id=\"path972-3-3\" />\n      <path style=\"fill:#415e72;stroke-width:0.0703665\" d=\"m 101.45839,46.116603 c 0.70367,1.504083 2.22979,2.546351 4.00035,2.546351 1.77056,0 3.29667,-1.042268 4.00033,-2.546351\" id=\"path974-2-8\" />\n      <path d=\"m 116.33965,24.108993 c 0,-2.498924 -0.86882,-4.939375 -2.44657,-6.871568 -0.21026,-0.25733 -0.58925,-0.29568 -0.84665,-0.0855 -0.25733,0.210185 -0.29568,0.589178 -0.0855,0.846649 1.40276,1.717998 2.17531,3.8881 2.17531,6.110485 0,1.690484 -0.4426,3.354018 -1.27996,4.810674 -1.08773,1.891944 -1.87893,3.897529 -2.35496,5.967359 -0.17957,-0.04334 -0.36661,-0.06692 -0.55934,-0.06692 h -8.2084 v -2.904095 c 0,-0.366821 0.29835,-0.665174 0.66517,-0.665174 h 0.23532 v 2.459801 c 0,0.33227 0.26936,0.601703 0.6017,0.601703 0.33234,0 0.6017,-0.269362 0.6017,-0.601703 V 31.25091 h 1.2602 v 2.459801 c 0,0.33227 0.26936,0.601703 0.6017,0.601703 0.33227,0 0.6017,-0.269362 0.6017,-0.601703 V 31.25091 h 0.23531 c 0.36682,0 0.66517,0.298353 0.66517,0.665174 v 1.452786 c 0,0.332271 0.26937,0.601704 0.60171,0.601704 0.33227,0 0.6017,-0.269363 0.6017,-0.601704 v -1.452786 c 0,-1.030306 -0.8382,-1.868512 -1.86851,-1.868512 h -0.2353 v -2.413077 l 2.29746,-3.881978 c 0.16916,-0.285899 0.0746,-0.655042 -0.21138,-0.824203 -0.2859,-0.169302 -0.65504,-0.07459 -0.8242,0.211311 l -2.38142,4.023696 c -0.0549,0.09281 -0.0838,0.198644 -0.0838,0.306446 v 2.577805 h -1.2602 v -2.577805 c 0,-0.107802 -0.029,-0.213633 -0.0838,-0.306446 l -2.38143,-4.023696 c -0.16916,-0.285899 -0.53823,-0.380613 -0.8242,-0.211311 -0.28598,0.169161 -0.38062,0.538233 -0.21138,0.824203 l 2.29748,3.881978 v 2.413077 h -0.23531 c -1.03032,0 -1.86852,0.838206 -1.86852,1.868512 v 2.904095 h -1.537384 c -0.190694,0 -0.375969,0.02315 -0.553785,0.06565 -0.473151,-2.073771 -1.260341,-4.068449 -2.342655,-5.935272 -0.884795,-1.526038 -1.332825,-3.271971 -1.295601,-5.049147 0.05151,-2.461419 1.037983,-4.792098 2.777597,-6.56287 1.739828,-1.771054 4.052368,-2.797842 6.511678,-2.891289 2.27847,-0.08606 4.51894,0.632736 6.30913,2.025429 0.26233,0.204063 0.64033,0.156917 0.84426,-0.105409 0.20399,-0.262256 0.15684,-0.640264 -0.10541,-0.844257 -2.01382,-1.566358 -4.5328,-2.375361 -7.094,-2.278115 -2.76739,0.105198 -5.368638,1.25956 -7.324418,3.25051 -1.955428,1.990456 -3.064199,4.611748 -3.122252,7.381021 -0.0418,1.997634 0.462245,3.961 1.457726,5.677871 1.079922,1.862531 1.847761,3.85925 2.283618,5.935483 -0.44972,0.43388 -0.730271,1.042058 -0.730271,1.714761 0,0.699795 0.303139,1.330138 0.785016,1.766621 -0.481032,0.426491 -0.785016,1.04839 -0.785016,1.740233 v 0.05798 c 0,0.943193 0.550625,1.760077 1.347174,2.14653 -0.277104,0.382864 -0.441057,0.852701 -0.441057,1.360465 v 0.05798 c 0,1.314657 1.069577,2.384157 2.38417,2.384157 h 0.20294 c 0.8843,1.558477 2.55749,2.546352 4.3657,2.546352 0.97239,0 1.91572,-0.278792 2.72789,-0.806189 0.27872,-0.180912 0.35789,-0.553573 0.17697,-0.832365 -0.18091,-0.278792 -0.55371,-0.357954 -0.83222,-0.176971 -0.61669,0.400385 -1.3333,0.612047 -2.0725,0.612047 -1.12819,0 -2.18707,-0.506287 -2.90235,-1.342944 h 7.47082 c 1.31459,0 2.38416,-1.06957 2.38416,-2.384157 v -0.05798 c 0,-0.507694 -0.16396,-0.977531 -0.44106,-1.360466 0.79655,-0.386382 1.34717,-1.203266 1.34717,-2.146529 v -0.05798 c 0,-0.691843 -0.30399,-1.313742 -0.78501,-1.740233 0.48187,-0.436484 0.78501,-1.066827 0.78501,-1.766621 0,-0.670663 -0.2788,-1.277082 -0.72605,-1.71075 0.43895,-2.073067 1.21214,-4.082874 2.29944,-5.974185 0.94186,-1.638976 1.43977,-3.509809 1.43977,-5.410549 z m -5.33955,15.47957 c 0.61908,0 1.12277,0.503684 1.12277,1.122768 v 0.05798 c 0,0.651101 -0.52972,1.18075 -1.18075,1.18075 h -6.48047 c -0.33227,0 -0.60171,0.269362 -0.60171,0.601703 0,0.332271 0.26937,0.601704 0.60171,0.601704 h 5.63241 c 0.61909,0 1.12277,0.503683 1.12277,1.122768 v 0.05798 c 0,0.651101 -0.52972,1.180749 -1.18075,1.180749 h -9.13718 c -0.65104,0 -1.180756,-0.529719 -1.180756,-1.180749 v -0.05798 c 0,-0.619085 0.503686,-1.122768 1.122776,-1.122768 h 1.56778 c 0.33227,0 0.6017,-0.269363 0.6017,-0.601704 0,-0.33227 -0.26936,-0.601703 -0.6017,-0.601703 h -2.415846 c -0.651101,0 -1.180756,-0.529719 -1.180756,-1.18075 v -0.05798 c 0,-0.619084 0.50369,-1.122768 1.122774,-1.122768 0.0065,0 0.01295,-7.74e-4 0.01942,-9.85e-4 0.01295,1.41e-4 0.02568,9.85e-4 0.03856,9.85e-4 h 6.685898 c 0.33227,0 0.60171,-0.269362 0.60171,-0.601703 0,-0.332271 -0.26937,-0.601704 -0.60171,-0.601704 h -6.685898 c -0.651101,0 -1.180756,-0.529719 -1.180756,-1.18075 0,-0.65103 0.529726,-1.180749 1.180756,-1.180749 h 10.949338 c 0.6511,0 1.18075,0.529719 1.18075,1.180749 0,0.651101 -0.52972,1.18075 -1.18075,1.18075 h -2.29261 c -0.33227,0 -0.60171,0.269363 -0.60171,0.601704 0,0.33227 0.26937,0.601703 0.60171,0.601703 h 2.29261 c 0.013,0 0.0257,-7.74e-4 0.0386,-9.85e-4 0.006,1.41e-4 0.0128,9.85e-4 0.0194,9.85e-4 z\" id=\"path976-9-3\" style=\"stroke-width:0.0703665\" />\n    </g>\n    <g id=\"g978-5-5\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g980-5-4\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g982-1-3\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g984-9-8\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g986-1-3\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g988-5-6\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g990-3-0\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g992-4-5\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g994-0-6\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g996-8-4\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g998-2-1\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g1000-4-3\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g1002-1-9\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g1004-2-2\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g1006-5-1\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <text xml:space=\"preserve\" style=\"font-style:normal;font-weight:normal;font-size:5.9493px;line-height:1.25;font-family:sans-serif;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.148733\" x=\"12.558146\" y=\"10.749358\" id=\"text4137\">\n      <tspan sodipodi:role=\"line\" id=\"tspan4135\" style=\"stroke-width:0.148733\" x=\"12.558146\" y=\"10.749358\">Lamp#1</tspan>\n    </text>\n    <text xml:space=\"preserve\" style=\"font-style:normal;font-weight:normal;font-size:5.9493px;line-height:1.25;font-family:sans-serif;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.148733\" x=\"93.23822\" y=\"10.807687\" id=\"text4137-7\">\n      <tspan sodipodi:role=\"line\" id=\"tspan4135-9\" style=\"stroke-width:0.148733\" x=\"93.23822\" y=\"10.807687\">Lamp#3</tspan>\n    </text>\n    <text xml:space=\"preserve\" style=\"font-style:normal;font-weight:normal;font-size:5.9493px;line-height:1.25;font-family:sans-serif;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.148733\" x=\"58.261517\" y=\"57.862202\" id=\"text4137-7-6\">\n      <tspan sodipodi:role=\"line\" id=\"tspan4135-9-7\" style=\"stroke-width:0.148733\" x=\"58.261517\" y=\"57.862202\">Fan</tspan>\n    </text>\n    <text xml:space=\"preserve\" style=\"font-style:normal;font-weight:normal;font-size:5.9493px;line-height:1.25;font-family:sans-serif;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.148733\" x=\"52.479588\" y=\"10.913683\" id=\"text4137-9\">\n      <tspan sodipodi:role=\"line\" id=\"tspan4135-5\" style=\"stroke-width:0.148733\" x=\"52.479588\" y=\"10.913683\">Lamp#2</tspan>\n    </text>\n  </g>\n</svg>",
        "clickableShapes": [],
        "javascriptHandlers": [],
        "smilAnimations": [
            {
                "id": "rotate_fan",
                "targetId": "fan",
                "classValue": "",
                "attributeName": "transform",
                "transformType": "rotate",
                "fromValue": "0,64,79",
                "toValue": "360,64,79",
                "trigger": "msg",
                "duration": "1",
                "durationUnit": "s",
                "repeatCount": "0",
                "end": "freeze",
                "delay": "1",
                "delayUnit": "s",
                "custom": ""
            }
        ],
        "bindings": [],
        "showCoordinates": true,
        "autoFormatAfterEdit": true,
        "showBrowserErrors": false,
        "showBrowserEvents": false,
        "enableJsDebugging": false,
        "sendMsgWhenLoaded": false,
        "noClickWhenDblClick": false,
        "outputField": "payload",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "dblClickZoomPercentage": 150,
        "cssString": "div.ui-svg svg{\n    color: var(--nr-dashboard-widgetColor);\n    fill: currentColor !important;\n}\ndiv.ui-svg path {\n    fill: inherit;\n}",
        "name": "",
        "x": 840,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "638832b2584ba296",
        "type": "link in",
        "z": "ba8d8409119d7346",
        "name": "",
        "links": [
            "0281e5d199713c91",
            "9d2fd26dee099abc",
            "a8488a453a6e69c4"
        ],
        "x": 685,
        "y": 1380,
        "wires": [
            [
                "7b690b93630c446b"
            ]
        ]
    },
    {
        "id": "0281e5d199713c91",
        "type": "link out",
        "z": "ba8d8409119d7346",
        "name": "",
        "mode": "link",
        "links": [
            "638832b2584ba296"
        ],
        "x": 745,
        "y": 600,
        "wires": []
    },
    {
        "id": "6a585d40b11827c6",
        "type": "function",
        "z": "ba8d8409119d7346",
        "name": "Turn ON",
        "func": "\nmsg.payload =  [\n     {\n        \"command\": \"set_style\",\n        \"selector\": \"#Lamp1_1\",\n        \"attributeName\": \"fill\",\n        \"attributeValue\": \"#ffd42aff\"\n    },   \n    {\n        \"command\": \"set_style\",\n        \"selector\": \"#Lamp1_2\",\n        \"attributeName\": \"fill\",\n        \"attributeValue\": \"#d4aa00ff\"\n    }\n]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 560,
        "wires": [
            [
                "0281e5d199713c91"
            ]
        ]
    },
    {
        "id": "f846f012cabecc4a",
        "type": "function",
        "z": "ba8d8409119d7346",
        "name": "Turn OFF",
        "func": "\nmsg.payload =  [\n     {\n        \"command\": \"set_style\",\n        \"selector\": \"#Lamp1_1\",\n        \"attributeName\": \"fill\",\n        \"attributeValue\": \"#b3b3b3ff\"\n    },   \n    {\n        \"command\": \"set_style\",\n        \"selector\": \"#Lamp1_2\",\n        \"attributeName\": \"fill\",\n        \"attributeValue\": \"#666666ff\"\n    }\n]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 640,
        "wires": [
            [
                "0281e5d199713c91"
            ]
        ]
    },
    {
        "id": "a12751bfe63664d5",
        "type": "function",
        "z": "ba8d8409119d7346",
        "name": "Turn ON",
        "func": "\nmsg.payload =  [\n     {\n        \"command\": \"set_style\",\n        \"selector\": \"#Lamp2_1\",\n        \"attributeName\": \"fill\",\n        \"attributeValue\": \"#ffd42aff\"\n    },   \n    {\n        \"command\": \"set_style\",\n        \"selector\": \"#Lamp2_2\",\n        \"attributeName\": \"fill\",\n        \"attributeValue\": \"#d4aa00ff\"\n    }\n]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 760,
        "wires": [
            [
                "9d2fd26dee099abc"
            ]
        ]
    },
    {
        "id": "9d2fd26dee099abc",
        "type": "link out",
        "z": "ba8d8409119d7346",
        "name": "",
        "mode": "link",
        "links": [
            "638832b2584ba296"
        ],
        "x": 745,
        "y": 800,
        "wires": []
    },
    {
        "id": "133372f9a1462ce8",
        "type": "function",
        "z": "ba8d8409119d7346",
        "name": "Turn OFF",
        "func": "\nmsg.payload =  [\n     {\n        \"command\": \"set_style\",\n        \"selector\": \"#Lamp2_1\",\n        \"attributeName\": \"fill\",\n        \"attributeValue\": \"#b3b3b3ff\"\n    },   \n    {\n        \"command\": \"set_style\",\n        \"selector\": \"#Lamp2_2\",\n        \"attributeName\": \"fill\",\n        \"attributeValue\": \"#666666ff\"\n    }\n]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 840,
        "wires": [
            [
                "9d2fd26dee099abc"
            ]
        ]
    },
    {
        "id": "601dbfcf39335123",
        "type": "function",
        "z": "ba8d8409119d7346",
        "name": "Turn ON",
        "func": "\nmsg.payload =  [\n     {\n        \"command\": \"set_style\",\n        \"selector\": \"#Lamp3_1\",\n        \"attributeName\": \"fill\",\n        \"attributeValue\": \"#ffd42aff\"\n    },   \n    {\n        \"command\": \"set_style\",\n        \"selector\": \"#Lamp3_2\",\n        \"attributeName\": \"fill\",\n        \"attributeValue\": \"#d4aa00ff\"\n    }\n]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 940,
        "wires": [
            [
                "a8488a453a6e69c4"
            ]
        ]
    },
    {
        "id": "a8488a453a6e69c4",
        "type": "link out",
        "z": "ba8d8409119d7346",
        "name": "",
        "mode": "link",
        "links": [
            "638832b2584ba296"
        ],
        "x": 745,
        "y": 980,
        "wires": []
    },
    {
        "id": "978c985078cfbadc",
        "type": "function",
        "z": "ba8d8409119d7346",
        "name": "Turn OFF",
        "func": "\nmsg.payload =  [\n     {\n        \"command\": \"set_style\",\n        \"selector\": \"#Lamp3_1\",\n        \"attributeName\": \"fill\",\n        \"attributeValue\": \"#b3b3b3ff\"\n    },   \n    {\n        \"command\": \"set_style\",\n        \"selector\": \"#Lamp3_2\",\n        \"attributeName\": \"fill\",\n        \"attributeValue\": \"#666666ff\"\n    }\n]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1020,
        "wires": [
            [
                "a8488a453a6e69c4"
            ]
        ]
    },
    {
        "id": "3c53a1090b4733dd",
        "type": "mqtt out",
        "z": "ba8d8409119d7346",
        "name": "",
        "topic": "Home1_Sub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "01a09fae96669f29",
        "x": 690,
        "y": 340,
        "wires": []
    },
    {
        "id": "c8dbf32dd86fe267",
        "type": "change",
        "z": "ba8d8409119d7346",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "status",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 340,
        "wires": [
            [
                "3c53a1090b4733dd"
            ]
        ]
    },
    {
        "id": "01a09fae96669f29",
        "type": "mqtt-broker",
        "name": "",
        "broker": "",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "413f1bd2d40ed325",
        "type": "ui_group",
        "name": "Monitoring",
        "tab": "faf318b0335bfa73",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6bd65222d70c2990",
        "type": "ui_group",
        "name": "Graph",
        "tab": "faf318b0335bfa73",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "579f9be95d58b3fc",
        "type": "ui_group",
        "name": "Control",
        "tab": "faf318b0335bfa73",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5ada0225d14c17a6",
        "type": "ui_group",
        "name": "Visualization",
        "tab": "faf318b0335bfa73",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "faf318b0335bfa73",
        "type": "ui_tab",
        "name": "Home Automation",
        "icon": "home",
        "order": 10,
        "disabled": false,
        "hidden": false
    }
]